*.pyc
*~
*.db
*.swp
*.tgz
*.gz
*.log
*.log.*
*.log.??
*.pdf
*.zip
*.ori
*.tar
*.xls
*.csv
nohup.out
bin/*.cmd
import/data*/*
import/export.mdb
import/export-*
import/html/cms.xml
import/quote/*
content/cache/*
content/files
content/files/*
content/customer_uploads/*
content/sorl*test_source*.jpg
content/bollettini/*
import/html/www.indicod-ecr.it/*
project/contabilita/*.ASC
project/contabilita/*.csv
project/contabilita/*.json
project/contabilita/test/*
.project
.settings/*
.metadata
